@model Proyecto_InmobiliariaVaras.Models.Inquilino

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Seguro que desea eliminar inquilino?</h3>
<div>
    <h4>Inquilino</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DomicilioLaboral)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DomicilioLaboral)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoInquilino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoInquilino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreGarante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreGarante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DniGarante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DniGarante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoGarante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoGarante)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al Listado</a>
    </form>
</div>

